
@import "tailwindcss";

/* Custom scrollbar for better aesthetics
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #111111;
}

body::-webkit-scrollbar-thumb {
  background-color: #e63946;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #d12e3e;
} */